# Compiled Object files
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.a
*.lib

# Executables
*.exe
/dmailmanager

# DUB
.dub
docs.json
dub.selections.json
__dummy.html
docs/
__dummy.html

# Code coverage
*.lst

# Unittests
__test__*__
